<% if(selectedProblem)
{ %>

    <!-- Edit Problem Modal -->
    <div class="modal" id="editProblemModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content container-fluid">
                <form action="/problem/<%= selectedProblem._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Problem</h5>
                        <button class="close" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="form-control" value="<%= selectedProblem.name %>" required>
                        </div>
                        <div class="form-group">
                            <label for="link">Link</label>
                            <input type="url" id="link" name="link" class="form-control"  value="<%= selectedProblem.link %>" required>
                        </div>
                        <div class="form-group">
                            <label for="tag">Tag</label>
                            <input type="text" id="tag" name="tag" class="form-control" value="<%= selectedProblem.tag %>" >
                        </div>
                        <div class="form-group">
                            <label for="timeTaken">Time Taken</label>
                            <input type="text" id="timeTaken" name="timeTaken" class="form-control" value="<%= selectedProblem.timeTaken %>" >
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input type="number" class="form-control" name="rating" id="rating" min="1" max="10" value="<%= selectedProblem.rating %>" required>
                        </div>
                        <div class="form-group">
                            <label for="note">Note</label>
                            <textarea type="text" id="note" class="form-control" name="note" rows="3" value="<%= selectedProblem.note %>"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit"></input>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>      
        </div>
    </div>

<% } %>

